@import "src/shared/styles/vars/dimensions.module";
@import "src/shared/styles/vars/fonts";
@import "src/shared/styles/vars/colors.module";

@mixin title {
  font-size: $fsTextXXL;
  font-weight: $fwDefault;
  font-family: "Gang-Of-Three";
}

@mixin ellipsisRowText($lineClamp: 2) {
  display: -webkit-box;
  -webkit-line-clamp: $lineClamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($gray, 0.2);
}

@mixin closeIcon {
  cursor: pointer;
  width: 32px;
  height: 32px;
}