//fontWeights
$fwThin: 400;
$fwDefault: 500;
$fwBold: 700;

//fontSizes
$fsESmall: 12px;
$fsSmall: 14px;
$fsTextDefault: 16px;
$fsTextMd: 18px;
$fsTextL: 22px;
$fsTextXL: 26px;
$fsTextXXL: 32px;
$fsTextXXXL: 40px;
$fsTextEXL: 48px;