@import "src/shared/styles/vars/dimensions.module";
@import "src/shared/styles/vars/colors.module";
@import "src/shared/styles/mixins/components";

$modalWidth: 800px;
$imageDimensions: 350px;

.container {
  cursor: default;
  max-width: $modalWidth;
  width: 100%;
  box-shadow: 0 5px 15px #0000001a;
  border-radius: $brDefault;
  height: fit-content;
  background: $gray;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;

  @media screen and (max-width: $ipad) {
    flex-direction: column;
  }
}

.imageWrapper {
  padding: $indentDefaultMd;
  @include flexCenter;

  @media screen and (max-width: $phones), (max-height: $phones) {
    flex-direction: column;
  }
}

.image {
  max-width: $imageDimensions;
  min-width: $imageDimensions;
  max-height: $imageDimensions;
  min-height: $imageDimensions;
  border-radius: 50%;

  @media screen and (max-width: $phones), (max-height: $phones) {
    max-width: calc($imageDimensions / 1.5);
    min-width: calc($imageDimensions / 1.5);
    max-height: calc($imageDimensions / 1.5);
    min-height: calc($imageDimensions / 1.5);
  }
}

.infoSection {
  padding: $indentDefaultMd;
  display: flex;
  flex-direction: column;
  gap: $indentDefaultMd;

  @media screen and (max-width: $phones), (max-height: $phones) {
    padding: $indentDefaultSm;
  }
}

.title {
  @include title;

  @media screen and (max-width: $phones), (max-height: $phones) {
    font-size: $fsTextXL;;
  }
}

.description {
  flex-grow: 1;
}

.text {
  font-size: $fsTextL;

  @media screen and (max-width: $phones), (max-height: $phones) {
    font-size: $fsTextMd;
  }
}